## Goal: Use NumPy package to explore the Jester Joke Data
### Plan (2020-05-18):
1. Import the Jester Joke dataset
2. Explore some statistical information of the dataset via **NumPy** package

   Stuff that we are interested:<br>
   - How many users?<br>
   - How many ratings did the users make? What's the distribution of the # of ratings among all users?<br>
   - What's the average rating for each joke? How many jokes that do not have any rating?<br>
   - What's the max, average, median, min, std rating for all jokes?<br>
   - How many jokes have ratings higher than 0?<br>
   
   How do we get the desired stuff:<br>
   - Get the counts of data via **df.shape()**<br>
   - Sort an array based on the number of ratings with **df.sort()**<br>
   - Compute the average rating with **df.mean()**<br>
   - Compute the max, average, median, min rating with **df.min(), df.max(), df.median(), df.mean(), np.std(df)**<br>
   - Count the number of jokes which they have average rating > 0 using **bolean masking**<br>
   
   
3. Manipulate data for further analysis via **Pandas** package

   - Replace the 99 values to NaN<br>
   - Remove outliers using user-defined function with **np.where()**<br>
   - Combine first column and rating data together with **pd.concat()**<br>
<br>
4. Export the trimmed data
5. Summarize our findings

### 1. Import the dataset

In [2]:
# Import the NumPy package
import numpy as np

# Import the Pandas package
import pandas as pd

In [3]:
# Import the Jester Joke dataset
# Method 1: use pd.read_csv()
df = pd.read_csv('Transformed Jester Data.csv', delimiter = ',')
print(df.head())

   Number_of_ratings     1     2     3     4     5     6     7     8     9  \
0                1.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0
1                1.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0
2                4.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0
3               47.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0
4               13.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0  99.0

   ...   149   150    151    152   153   154   155   156    157    158
0  ...  99.0  99.0  99.00  99.00  99.0  99.0  99.0  99.0  99.00  99.00
1  ...  99.0  99.0  99.00  99.00  99.0  99.0  99.0  99.0  99.00  99.00
2  ...  99.0  99.0  99.00  99.00  99.0  99.0  99.0  99.0  99.00  99.00
3  ...  99.0  99.0   5.61  -4.51   0.0   0.0  99.0   0.0   5.93   4.19
4  ...  99.0  99.0  99.00  99.00  99.0   0.0  99.0  99.0  99.00   0.00

[5 rows x 159 columns]

In [12]:
# Method 2: use np.genfromtxt()
df = np.genfromtxt('Transformed Jester Data.csv', delimiter = ',')

### 2. Explore statistical information via NumPy

#### User Counts

In [171]:
## Get the counts of user
df.shape # 7700 -1 = 7699 users

(7700, 159)

In [4]:
## Sort the data by number of ratings 
df.sort_values(by = 'Number_of_ratings')

,Number_of_ratings,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
0,1.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00,99.00,99.0,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
5151,1.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00,99.00,99.0,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
5152,1.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00,99.00,99.0,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
5155,1.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00,99.00,99.0,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
918,1.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00,99.00,99.0,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,136.0,99.0,99.0,99.0,99.0,99.0,99.0,6.10,0.00,99.0,...,0.00,0.00,-4.39,-3.22,0.00,0.00,0.00,0.00,-2.95,0.00
6165,136.0,99.0,99.0,99.0,99.0,99.0,99.0,-9.30,-9.36,99.0,...,-19.54,9.50,9.38,-9.15,-8.99,8.99,9.48,9.32,9.13,-9.79
2375,136.0,99.0,99.0,99.0,99.0,99.0,99.0,-2.80,1.87,99.0,...,0.24,-2.80,-3.33,1.10,0.98,0.24,-3.98,-4.47,-1.79,0.24
890,136.0,99.0,99.0,99.0,99.0,99.0,99.0,-2.23,-4.72,99.0,...,-3.35,-2.05,-4.66,-2.23,-6.56,-3.65,-4.07,-4.90,-4.01,-8.52
7699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
## How many of them have 1, 2, 3, 4, 5,...100... ratings
df['Number_of_ratings'].nunique() ## There are 130 unique ratings

## What are the distribution for # of ratings?
rc = df['Number_of_ratings'].value_counts()
rc = pd.DataFrame(rc)
pd.set_option('display.max_rows', rc.shape[0]+1)

rc

## Create a cumulative sum of the ratings
rc['cum_sum'] = rc['Number_of_ratings'].cumsum()
rc

       Number_of_ratings  cum_sum
1.0                 1224     1224
2.0                 1026     2250
3.0                  738     2988
4.0                  610     3598
5.0                  459     4057
6.0                  335     4392
7.0                  312     4704
8.0                  211     4915
9.0                  192     5107
11.0                 166     5273
10.0                 151     5424
12.0                 143     5567
13.0                 122     5689
15.0                 114     5803
14.0                  97     5900
16.0                  91     5991
17.0                  80     6071
19.0                  73     6144
18.0                  71     6215
20.0                  55     6270
21.0                  55     6325
24.0                  54     6379
23.0                  51     6430
22.0                  51     6481
25.0                  51     6532
26.0                  43     6575
28.0                  41     6616
27.0                  39     6655
33.0                  37     6692
30.0                  34     6726
31.0                  34     6760
45.0                  28     6788
35.0                  28     6816
34.0                  27     6843
36.0                  27     6870
38.0                  25     6895
32.0                  25     6920
29.0                  23     6943
39.0                  23     6966
47.0                  21     6987
58.0                  20     7007
37.0                  20     7027
50.0                  20     7047
43.0                  19     7066
42.0                  19     7085
55.0                  18     7103
49.0                  17     7120
46.0                  17     7137
56.0                  16     7153
48.0                  16     7169
40.0                  15     7184
44.0                  15     7199
59.0                  15     7214
41.0                  14     7228
53.0                  14     7242
51.0                  14     7256
54.0                  13     7269
67.0                  13     7282
61.0                  12     7294
63.0                  12     7306
69.0                  11     7317
57.0                  10     7327
72.0                  10     7337
85.0                   9     7346
60.0                   9     7355
81.0                   9     7364
52.0                   9     7373
79.0                   9     7382
68.0                   9     7391
82.0                   9     7400
108.0                  8     7408
78.0                   8     7416
77.0                   8     7424
64.0                   8     7432
100.0                  8     7440
75.0                   8     7448
87.0                   8     7456
91.0                   7     7463
107.0                  7     7470
65.0                   7     7477
74.0                   7     7484
90.0                   7     7491
109.0                  7     7498
99.0                   7     7505
83.0                   7     7512
110.0                  6     7518
97.0                   6     7524
71.0                   6     7530
86.0                   6     7536
80.0                   6     7542
116.0                  6     7548
96.0                   6     7554
112.0                  5     7559
120.0                  5     7564
114.0                  5     7569
122.0                  5     7574
121.0                  5     7579
136.0                  5     7584
62.0                   5     7589
115.0                  5     7594
102.0                  5     7599
94.0                   5     7604
66.0                   5     7609
92.0                   5     7614
70.0                   5     7619
105.0                  5     7624
73.0                   5     7629
93.0                   5     7634
113.0                  5     7639
98.0                   4     7643
89.0                   4     7647
127.0                  4     7651
84.0                   4     7655
126.0                  4     7659
125.0                  4     7663
101.0                  3     7666
103.0                  3     7669
104.0                  3     7672
76.0                   3     7675
95.0                   3     7678
123.0                  3     7681
88.0                   3     7684
119.0                  2     7686
130.0                  2     7688
106.0                  2     7690
111.0                  2     7692
117.0                  2     7694
118.0                  2     7696
124.0                  2     7698
129.0                  1     7699

In [16]:
## If we set five we'll clean half of the data
df.describe()

,Number_of_ratings,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
count,7699.000000,7699.0,7699.0,7699.0,7699.0,7699.0,7699.0,7699.000000,7699.000000,7699.0,...,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000
mean,13.831537,99.0,99.0,99.0,99.0,99.0,99.0,95.423043,92.670103,99.0,...,90.604467,92.199241,81.606937,82.361892,81.960162,81.616798,81.669112,81.794884,81.592543,81.571750
std,21.815788,0.0,0.0,0.0,0.0,0.0,0.0,18.658978,24.481362,0.0,...,27.501916,24.838776,37.995190,37.035465,37.550854,37.905441,38.017631,37.880425,37.757640,37.736979
min,1.000000,99.0,99.0,99.0,99.0,99.0,99.0,-10.000000,-10.000000,99.0,...,-19.560000,-12.970000,-12.960000,-10.000000,-10.000000,-10.000000,-10.140000,-20.000000,-13.600000,-17.600000
25%,2.000000,99.0,99.0,99.0,99.0,99.0,99.0,99.000000,99.000000,99.0,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
50%,5.000000,99.0,99.0,99.0,99.0,99.0,99.0,99.000000,99.000000,99.0,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
75%,14.000000,99.0,99.0,99.0,99.0,99.0,99.0,99.000000,99.000000,99.0,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
max,136.000000,99.0,99.0,99.0,99.0,99.0,99.0,99.000000,99.000000,99.0,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [174]:
## Compute the mean rating for every joke
df.mean(axis = 0)

## This has to remove the NaN values first

Number_of_ratings    13.831537
1                    99.000000
2                    99.000000
3                    99.000000
4                    99.000000
                       ...
154                  81.616798
155                  81.669112
156                  81.794884
157                  81.592543
158                  81.571750
Length: 159, dtype: float64

### 3. Manipulate data via Pandas

#### Make value 99 NaN

In [20]:
## Create a function to make 99 as nan
def nan_if(arr, value):
    return np.where(arr == value, np.nan, arr)

In [21]:
## Test a simple array
a = np.array([[1, 99, 3], [4, 5, 99]])
a = nan_if(a, 99)
np.nanmean(a)

3.25

In [22]:
## Apply the function to the whole data
df = nan_if(df, 99)
df = pd.DataFrame(df)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.61,-4.51,0.0,0.0,NaN,0.0,5.93,4.19
4,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00

In [178]:
## Practice using df.iloc or df.loc to slice/ subset the data
df.iloc[[1, 4, 8]]

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Compute the mean for each joke

In [23]:
## Remove the first column at this moment
df_stat = df.drop(0, 1)
print(df_stat)

## Suppress scientific notation, the default is false
np.set_printoptions(suppress = True)

## Calculate the mean, min, max, median, std for every joke
mean = np.nanmean(df_stat, axis = 0)
print(mean)

mx = np.nanmax(df_stat, axis = 0)
print(mx) # shows that there is outlier (greater than 10) and it should be removed

mn = np.nanmin(df_stat, axis = 0)
print(mn) # shows that there is outlier (less than 10) and it should be removed

md = np.nanmedian(df_stat, axis = 0)
print(md)

std = np.nanstd(df_stat, axis = 0)
print(std)

## Be aware that the statistical information should be recalculated after outliers are removed

      1    2    3    4    5    6    7    8    9    10   ...   149   150   151  \
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
2     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
3     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN  5.61
4     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
7695  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7696  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  8.63   NaN
7697  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  2.03   NaN  2.05
7698  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7699  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN

       152   153  154   155   156   157   158
0      NaN   NaN  NaN   NaN   NaN   NaN   NaN
1      NaN   NaN  NaN   NaN   NaN   NaN   NaN
2      NaN   NaN  NaN   NaN   NaN   NaN   NaN
3    -4.51  0.00  0.0   NaN  0.00  5.93  4.19
4      NaN   NaN  0.0   NaN   NaN   NaN  0.00
...    ...   ...  ...   ...   ...   ...   ...
7695   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7696  6.76  0.00  3.5  6.26   NaN -2.66  0.65
7697  2.05  0.73  0.0  2.97  0.57  0.00  0.00
7698   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7699   NaN   NaN  NaN   NaN   NaN   NaN   NaN

[7700 rows x 158 columns]
[        nan         nan         nan         nan         nan         nan
 -1.50726277 -1.68983471         nan         nan         nan         nan
 -3.10505568         nan -3.21660661 -2.13238255  0.10100324 -2.09047458
 -0.4289517          nan  0.93331849 -1.00175676 -0.08154321 -1.51101695
 -0.17326146 -0.08671164         nan  0.55654867  1.26212984  0.02616788
         nan  2.14565472 -1.8621256  -0.85800781  0.33786458  0.39313298
 -1.31892857  0.64016495  0.05194245  0.51143411 -0.86067873  0.80313589
         nan -1.84318182  0.45096525  0.23498316  1.76192478  1.19478022
  2.3324173   0.97403789         nan         nan  2.20620307  1.57664063
 -0.91369403 -0.00707778 -1.61774038 -1.68944444 -0.31505128 -0.52288462
         nan  2.10304159  1.85368864 -1.52961749 -0.13139942  0.48189542
 -0.98977169  2.30400738  1.33415484  1.33873188 -0.7006414   1.16068273
         nan -1.82475248 -1.03317708  1.27802532  0.72904167  1.06147239
 -1.00014634         nan -0.45243952  0.53763889 -0.74418787  0.06346895
 -0.76511962 -0.49004773  0.38947702  1.16775885  2.18161114  0.76286645
  0.3850478   0.95160207  1.74628505  0.44469534  0.04524804  0.96388268
  1.86597756 -0.65613687  1.17232258         nan -1.93614286  0.19523288
  0.0309854   1.73938226  1.00469895  2.68472433 -0.05430208  2.95681223
  0.64481928  1.00566929  2.17665083  0.82369305  0.1297541   2.19836629
 -0.14292            nan  2.73429379  0.69227074  0.14886169 -0.28718045
  0.8716333   1.42411471 -2.38453271 -2.61862637  0.44653234  2.22817204
  0.57397397 -0.2280112   1.74322855  0.52986441 -0.50119403 -0.06511001
  1.10109756  2.2610219   0.08344231 -0.70013453  0.92385714  1.12636364
  0.7411236  -1.07057971 -3.05636905 -0.03464824  1.5084097  -0.32285714
  0.26791745 -1.69867299  0.63343643  1.91681159  0.76715805  1.67836431
 -1.15646223  0.15988426 -0.53695751 -0.8010962  -1.47478163 -1.35014394
 -0.05396157  0.12004422]
[  nan   nan   nan   nan   nan   nan 10.   10.     nan   nan   nan   nan
 10.     nan 10.   10.   20.   10.   27.82   nan 20.   15.81 10.55 19.39
 20.   20.     nan 18.09 20.   10.     nan 10.   15.74 19.35 16.04 11.38
 19.88 14.75 15.33 20.   11.81 20.     nan 19.72 20.   20.   18.48 16.34
 20.   10.     nan   nan 14.04 11.7  20.   16.1  19.48 10.   17.52 13.34
   nan 19.43 19.51 10.   19.52 20.   16.47 10.25 14.76 18.1  17.18 28.58
   nan 18.74 20.   11.23 20.   20.   10.     nan 12.64 18.86 20.   15.85
 17.76 12.64 20.   18.59 10.   20.   14.8  12.48 19.55 13.1  13.49 16.79
 14.49 13.41 10.     nan 10.   18.62 15.16 10.37 12.06 15.24 20.55 14.6
 20.   10.   20.   10.   20.   16.68 20.     nan 20.   10.   15.93 19.18
 17.02 20.   11.77 20.   20.   19.44 18.9  20.   19.78 20.   20.   10.
 20.   13.94 19.84 17.7  20.   19.78 13.49 15.81 20.   16.45 17.15 20.
 12.29 18.25 11.61 19.9  15.25 19.91 10.   17.9  10.   10.   10.   10.
 10.   10.  ]
[   nan    nan    nan    nan    nan    nan -10.   -10.      nan    nan
    nan    nan -20.      nan -10.   -10.   -10.   -10.   -20.      nan
 -13.29 -18.5  -19.43 -17.93 -19.47 -10.      nan -18.47 -10.36 -19.07
    nan -10.76 -20.   -20.   -35.4  -10.   -10.   -10.   -15.2  -20.
 -10.   -16.47    nan -19.14 -19.7  -19.02 -20.   -11.4  -19.74 -10.
    nan    nan -10.   -10.   -19.02 -20.   -20.   -18.53 -20.   -19.52
    nan -19.05 -17.32 -20.   -10.   -19.17 -20.   -10.85 -19.27 -15.33
 -19.63 -34.91    nan -18.43 -20.   -18.23 -18.91 -17.69 -20.      nan
 -17.95 -20.   -10.   -15.97 -20.   -14.71 -10.   -11.79 -10.   -16.13
 -20.   -10.   -20.   -10.   -18.82 -12.8  -10.   -15.41 -19.11    nan
 -13.81 -20.   -18.97 -10.   -25.69 -10.   -42.28 -13.49 -20.   -19.8
 -15.04 -19.25 -18.73 -16.36 -20.      nan -10.   -13.09 -11.62 -20.
 -20.   -12.95 -16.63 -11.91 -16.05 -13.78 -18.96 -10.   -18.41 -19.98
 -18.7  -10.   -20.   -10.   -10.   -17.91 -14.23 -13.12 -19.64 -18.05
 -13.   -19.15 -19.94 -10.   -10.   -19.31 -20.   -10.   -19.56 -12.97
 -12.96 -10.   -10.   -10.   -10.14 -20.   -13.6  -17.6 ]
[   nan    nan    nan    nan    nan    nan  0.     0.       nan    nan
    nan    nan -3.73     nan -3.48   0.     0.    -0.79   0.       nan
  0.     0.     0.     0.     0.     0.       nan  0.     1.29   0.
    nan  1.99   0.     0.     0.     0.     0.     0.     0.     0.
  0.     0.       nan  0.     0.     0.     1.31   0.     2.22   1.08
    nan    nan  2.36   0.87   0.     0.     0.     0.     0.     0.
    nan  2.075  1.46   0.     0.     0.     0.     2.3    1.34   1.25
  0.     1.42     nan  0.     0.     0.98   0.     0.     0.       nan
  0.     0.     0.     0.     0.     0.     0.     0.79   2.6    0.
  0.     0.     0.96   0.     0.     0.77   1.54   0.     0.       nan
  0.     0.     0.     2.07   1.16   2.49   0.     2.98   0.     0.
  1.54   0.49   0.     1.71   0.       nan  2.445  0.     0.     0.
  0.26   0.     0.    -2.13   0.     2.13   0.     0.     1.78   0.
  0.     0.     0.     1.87   0.     0.     0.     1.12   0.     0.
 -2.64   0.     1.16   0.     0.     0.     0.     1.34   0.     1.325
  0.     0.     0.     0.     0.     0.     0.     0.   ]
[       nan        nan        nan        nan        nan        nan
 6.26464924 5.59868122        nan        nan        nan        nan
 5.54991728        nan 5.30739624 5.60149465 5.08454578 5.23103786
 5.43876484        nan 4.98929041 5.1598043  5.31526953 5.05574832
 5.25532326 4.72780764        nan 4.70562893 5.11182876 4.68595108
        nan 4.45841631 4.95825972 4.82379401 4.81654839 4.72240036
 5.30342996 4.8884689  5.14164369 4.93987672 5.39802327 5.42951034
        nan 5.67711125 4.69394297 5.06684563 4.70061567 4.95682338
 4.33837823 4.80834412        nan        nan 4.9068829  4.67699431
 5.57475628 4.70695767 5.82806697 5.14821563 4.92485979 5.375265
        nan 4.58328343 4.33210404 5.25977657 5.1641736  4.91478762
 5.3430322  4.42561163 4.99700241 4.81152611 5.12761445 5.03017731
        nan 5.10318928 6.05731245 4.51894551 5.442915   4.8221677
 4.46428269        nan 5.34312793 5.05998251 5.29027954 4.7378703
 5.28842078 5.26036937 4.32129172 4.40146876 4.65482962 4.98950334
 5.25657743 4.76662867 4.79354809 4.8746699  4.65858038 4.38191529
 4.37284427 5.2494709  5.16077005        nan 4.72911971 5.01896057
 4.93000801 4.62403268 4.72860181 4.60978116 4.91020251 4.63265916
 5.17886719 4.45563366 4.3286263  4.62541273 5.2003898  4.21671632
 5.51833169        nan 4.44785045 4.78459451 4.90874426 5.56360751
 4.68301968 4.87039807 5.70904599 5.62482115 4.79205141 4.44042908
 5.15486862 5.01812209 5.56372199 5.41648676 5.17451693 5.26644423
 5.01516213 4.2417152  5.10277423 5.11209833 4.9794642  5.09148751
 4.86824483 5.16486602 5.2671288  4.71187314 4.94467182 5.13682966
 4.6813169  5.17481663 4.91683795 4.82432177 4.867636   4.26987632
 4.76196362 4.72721199 4.92123232 4.76151156 4.93153847 4.96141496
 4.88649524 4.95866435]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: Mean of empty slice
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: RuntimeWarning: All-NaN axis encountered
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: RuntimeWarning: All-NaN axis encountered
  from ipykernel import kernelapp as app
/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:995: RuntimeWarning: All-NaN slice encountered
  result = np.apply_along_axis(_nanmedian1d, axis, a, overwrite_input)
/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1667: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

#### Compute the number of jokes with positive and negative average of ratings

In [180]:
## Derive the # of nan values in the mean array
np.isnan(mean)
np.sum(np.isnan(mean)) # there are 22

22

In [181]:
## How many jokes have average positive/negative rating?
np.sum((mean > 0)) # there are 81
np.sum((mean < 0)) # there are 56

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in greater

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in less
  This is separate from the ipykernel package so we can avoid doing imports until

56

#### Remove outliers

In [182]:
## Test a simple array
a = np.array([[9.2, -2, 18], [20, 6, -29]])
def nan_if(arr, value):
    return np.where(abs(arr) > value, np.nan, arr)
a = nan_if(a, 10)
print(a)

[[ 9.2 -2.   nan]
 [ nan  6.   nan]]

In [183]:
## Apply the nan_if function to the whole df array
df_stat = nan_if(df_stat, 10)
print(df_stat)

[[ nan  nan  nan ...  nan  nan  nan]
 [ nan  nan  nan ...  nan  nan  nan]
 [ nan  nan  nan ...  nan  nan  nan]
 ...
 [ nan  nan  nan ... 0.57 0.   0.  ]
 [ nan  nan  nan ...  nan  nan  nan]
 [ nan  nan  nan ...  nan  nan  nan]]

#### Re-compute the mean for each joke

In [184]:
## Suppress scientific notation, the default is false
np.set_printoptions(suppress = True)

## Calculate the mean, min, max, median, std for every joke
mean = np.nanmean(df_stat, axis = 0)
print(mean)

mx = np.nanmax(df_stat, axis = 0)
print(mx) # shows that there is outlier (greater than 10) and it should be removed

mn = np.nanmin(df_stat, axis = 0)
print(mn) # shows that there is outlier (less than 10) and it should be removed

md = np.nanmedian(df_stat, axis = 0)
print(md)

std = np.nanstd(df_stat, axis = 0)
print(std)

[        nan         nan         nan         nan         nan         nan
 -1.50726277 -1.68983471         nan         nan         nan         nan
 -3.06734375         nan -3.21660661 -2.13238255 -0.18713816 -2.09047458
 -0.43475728         nan  0.86962963 -0.95745205  0.0273125  -1.455
 -0.15035519 -0.1570678          nan  0.64019643  1.25400685  0.23555556
         nan  2.1540678  -1.79465347 -0.8155336   0.34283623  0.38728579
 -1.41399103  0.6110124   0.22610294  0.51542969 -0.91827273  0.6155036
         nan -1.7682659   0.45330739  0.15273038  1.799375    1.11670391
  2.29723431  0.97403789         nan         nan  2.1999418   1.54636364
 -0.89452107  0.04432735 -1.4457     -1.46983051 -0.26779221 -0.37640669
         nan  2.09466551  1.84009859 -1.28655556 -0.21243402  0.43633803
 -0.99344186  2.30785661  1.3607772   1.37214022 -0.57674556  1.17616744
         nan -1.59622449 -1.008       1.37762148  0.50623932  0.94470954
 -0.76648515         nan -0.43707317  0.37714689 -0.90976285  0.12848812
 -0.67426471 -0.48743405  0.31192675  1.1482058   2.18161114  0.62666667
  0.4273062   0.92173575  1.78469194  0.37996396  0.10275132  0.94598878
  1.805781   -0.651566    1.33514658         nan -1.83894231  0.08094444
  0.1558209   1.73410037  1.01247153  2.65680648 -0.04512102  2.95086257
  0.75003086  1.06042105  2.07574519  0.84779112  0.12256303  2.18841832
 -0.03743802         nan  2.63843528  0.77817582  0.12417434 -0.22049808
  0.90254237  1.47349367 -2.1184058  -2.69266667  0.42918085  2.1833825
  0.56362178 -0.25638149  1.75507218  0.39927336 -0.75858779 -0.06511001
  1.06564315  2.22514652  0.00953668 -0.45446512  0.78291971  1.12601169
  0.94041985 -1.03332103 -3.13536145  0.01597964  1.59760218 -0.53014963
  0.24531955 -1.72275362  0.7738676   1.85864865  0.80708397  1.62191011
 -1.14071161  0.14618533 -0.53695751 -0.8010962  -1.4682517  -1.33600455
 -0.04394231  0.13311209]
[nan nan nan nan nan nan 10. 10. nan nan nan nan 10. nan 10. 10. 10. 10.
 10. nan 10. 10. 10. 10. 10. 10. nan 10. 10. 10. nan 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. nan 10. 10. 10. 10. 10. 10. 10. nan nan 10. 10.
 10. 10. 10. 10. 10. 10. nan 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.
 nan 10. 10. 10. 10. 10. 10. nan 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. 10. 10. 10. nan 10. 10. 10. 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. 10. nan 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.]
[ nan  nan  nan  nan  nan  nan -10. -10.  nan  nan  nan  nan -10.  nan
 -10. -10. -10. -10. -10.  nan -10. -10. -10. -10. -10. -10.  nan -10.
 -10. -10.  nan -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
  nan -10. -10. -10. -10. -10. -10. -10.  nan  nan -10. -10. -10. -10.
 -10. -10. -10. -10.  nan -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10. -10.  nan -10. -10. -10. -10. -10. -10.  nan -10. -10. -10. -10.
 -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10.  nan -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10. -10. -10.  nan -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10. -10.
 -10. -10. -10. -10.]
[   nan    nan    nan    nan    nan    nan  0.     0.       nan    nan
    nan    nan -3.72     nan -3.48   0.     0.    -0.79   0.       nan
  0.     0.     0.     0.     0.     0.       nan  0.     1.29   0.
    nan  2.01   0.     0.     0.     0.     0.     0.     0.     0.
  0.     0.       nan  0.     0.     0.     1.31   0.     2.2    1.08
    nan    nan  2.35   0.83   0.     0.     0.     0.     0.     0.
    nan  2.07   1.46   0.     0.     0.     0.     2.3    1.34   1.26
  0.     1.42     nan  0.     0.     1.02   0.     0.     0.       nan
  0.     0.     0.     0.     0.     0.     0.     0.78   2.6    0.
  0.     0.     0.96   0.     0.     0.77   1.5    0.     0.       nan
  0.     0.     0.     2.06   1.16   2.46   0.     2.975  0.     0.
  1.51   0.49   0.     1.69   0.       nan  2.36   0.     0.     0.
  0.27   0.     0.    -2.13   0.     2.11   0.     0.     1.785  0.
  0.     0.     0.     1.87   0.     0.     0.     1.12   0.     0.
 -2.64   0.     1.24   0.     0.     0.     0.     1.32   0.     1.3
  0.     0.     0.     0.     0.     0.     0.     0.   ]
[       nan        nan        nan        nan        nan        nan
 6.26464924 5.59868122        nan        nan        nan        nan
 5.49834268        nan 5.30739624 5.60149465 4.58678616 5.23103786
 5.37774408        nan 4.79874165 4.87929647 5.09616323 4.5579154
 4.93811823 4.62467659        nan 4.4598833  5.06313981 4.37385924
        nan 4.44767208 4.37941586 4.46421965 4.77833911 4.71684823
 5.12135113 4.85121788 4.81594375 4.63313784 5.34209992 4.75888706
        nan 5.16240483 4.3746464  4.73816377 4.40175803 4.70398022
 4.18093068 4.80834412        nan        nan 4.90062297 4.65282995
 4.98459192 4.43552342 4.92924736 4.8860784  4.59867757 5.05156923
        nan 4.50044613 4.20877137 4.93027781 5.0622292  4.79639334
 4.91999397 4.40912975 4.90420882 4.40483279 4.78927667 4.92287054
        nan 4.47941505 5.26052518 4.27541395 4.90506501 4.38679583
 4.02361925        nan 5.18987162 4.62324293 5.03201572 4.53648191
 4.642176   5.1870861  4.17969984 4.28710208 4.65482962 4.52356727
 5.00526211 4.73649745 4.37859212 4.80692815 4.38912929 4.30165178
 4.29653359 5.06085219 4.90416358        nan 4.64301935 4.65910401
 4.46467374 4.62051402 4.68717433 4.58544269 4.81592077 4.56583623
 4.63937858 4.33160136 4.00638126 4.57556647 4.5435392  4.1135511
 4.61375477        nan 4.30334153 4.68118563 4.86387507 5.08852749
 4.53368858 4.54183702 5.35138782 5.35376758 4.7067642  4.33487277
 5.11792056 4.96408982 5.51082979 4.7678992  4.48867862 5.26644423
 4.32088046 4.20623204 4.97164436 4.35339692 4.39944442 5.02220487
 4.38537065 4.82355422 4.92672618 4.40070618 4.66906221 4.81035909
 4.65657992 4.7192331  4.56475637 4.7421003  4.71382607 4.07942013
 4.74783463 4.70325217 4.92123232 4.76151156 4.92765389 4.93663886
 4.87438973 4.93707919]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: Mean of empty slice
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: All-NaN slice encountered

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: RuntimeWarning: All-NaN slice encountered
  # This is added back by InteractiveShellApp.init_path()

In [185]:
## Derive the # of nan values in the mean array
np.isnan(mean)
np.sum(np.isnan(mean)) # there are 22

22

In [191]:
## How many jokes have average positive/negative rating?
np.sum((mean > 0)) # there are 82
np.sum((mean < 0)) # there are 54
82 / (82 + 54)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in greater

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in less
  This is separate from the ipykernel package so we can avoid doing imports until

0.6029411764705882

In [27]:
df_stat = pd.DataFrame(df_stat)
print(df_stat)

      1    2    3    4    5    6    7    8    9    10   ...   149   150   151  \
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
2     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
3     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN  5.61
4     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
7695  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7696  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  8.63   NaN
7697  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  2.03   NaN  2.05
7698  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7699  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN

       152   153  154   155   156   157   158
0      NaN   NaN  NaN   NaN   NaN   NaN   NaN
1      NaN   NaN  NaN   NaN   NaN   NaN   NaN
2      NaN   NaN  NaN   NaN   NaN   NaN   NaN
3    -4.51  0.00  0.0   NaN  0.00  5.93  4.19
4      NaN   NaN  0.0   NaN   NaN   NaN  0.00
...    ...   ...  ...   ...   ...   ...   ...
7695   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7696  6.76  0.00  3.5  6.26   NaN -2.66  0.65
7697  2.05  0.73  0.0  2.97  0.57  0.00  0.00
7698   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7699   NaN   NaN  NaN   NaN   NaN   NaN   NaN

[7700 rows x 158 columns]

In [25]:
## Count the # of ratings for each jokes
rcj = df.count()
rcj = pd.DataFrame(rcj)
pd.set_option('display.max_rows', rcj.shape[0]+1)

rcj

        0
0    7692
1       0
2       0
3       0
4       0
5       0
6       0
7     274
8     484
9       0
10      0
11      0
12      0
13    449
14      0
15    333
16    298
17    309
18    590
19   7536
20      0
21    898
22    370
23    324
24    177
25    371
26    593
27      0
28    565
29    878
30    274
31      0
32   1535
33    207
34    256
35   4032
36   1880
37    224
38    485
39    278
40    258
41    221
42    287
43      0
44    176
45    259
46    297
47    452
48    364
49    786
50   2375
51      0
52      0
53   1891
54    640
55    268
56    900
57    208
58    180
59    390
60    364
61      0
62   1154
63    713
64    183
65    686
66   1071
67    219
68   1355
69    775
70    276
71    343
72   6474
73      0
74    202
75    192
76    395
77    240
78    489
79    205
80      0
81    496
82    360
83    511
84    467
85    209
86    419
87    631
88    763
89   1651
90    307
91    523
92    387
93    428
94    558
95    383
96    716
97    624
98    453
99    310
100     0
101   210
102   365
103   274
104  1635
105  4750
106  1052
107  2357
108   687
109   332
110   381
111   421
112   834
113   244
114  1163
115   250
116     0
117   708
118   458
119  1634
120   266
121   949
122   401
123   214
124   182
125   943
126  1023
127  2997
128   714
129  1527
130   295
131   268
132  1409
133   246
134   548
135   520
136   223
137   280
138  1375
139   267
140   276
141   168
142   398
143   371
144   406
145   533
146   211
147   291
148   483
149   658
150   538
151  1337
152  1296
153  1318
154  1341
155  1328
156  1320
157  1353
158  1357

In [28]:
## Remove the joke columns where there is not any single rating 
## Based on the website {1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 14, 20, 27, 31, 43, 51, 52, 61, 73, 80, 100, 116}
df_stat = pd.DataFrame(df_stat)
cols_arr = np.array([1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 14, 20, 27, 31, 43, 51, 52, 61, 73, 80, 100, 116])
cols = cols_arr - 1
print(cols)
df_stat = df_stat.drop(df_stat[cols], 1)
print(df_stat) ## The column name is the index of array

[  0   1   2   3   4   5   8   9  10  11  13  19  26  30  42  50  51  60
  72  79  99 115]

KeyError: '[0] not in index'

In [31]:
## Combine the first column and trimmed data
df = pd.DataFrame(df)
first_col = df.loc[:, 0]
print(first_col)

df_stat = pd.DataFrame(df_stat)
print(df_stat)

df_comb = pd.concat([first_col, df_stat], axis = 1, sort = False)
print(df_comb)

0        1.0
1        1.0
2        4.0
3       47.0
4       13.0
        ...
7695     1.0
7696    26.0
7697    64.0
7698     2.0
7699     NaN
Name: 0, Length: 7700, dtype: float64
      1    2    3    4    5    6    7    8    9    10   ...   149   150   151  \
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
2     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
3     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN  5.61
4     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
7695  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7696  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  8.63   NaN
7697  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  2.03   NaN  2.05
7698  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
7699  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN

       152   153  154   155   156   157   158
0      NaN   NaN  NaN   NaN   NaN   NaN   NaN
1      NaN   NaN  NaN   NaN   NaN   NaN   NaN
2      NaN   NaN  NaN   NaN   NaN   NaN   NaN
3    -4.51  0.00  0.0   NaN  0.00  5.93  4.19
4      NaN   NaN  0.0   NaN   NaN   NaN  0.00
...    ...   ...  ...   ...   ...   ...   ...
7695   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7696  6.76  0.00  3.5  6.26   NaN -2.66  0.65
7697  2.05  0.73  0.0  2.97  0.57  0.00  0.00
7698   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7699   NaN   NaN  NaN   NaN   NaN   NaN   NaN

[7700 rows x 158 columns]
       0    1    2    3    4    5    6    7    8    9    ...   149   150  \
0      1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
1      1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
2      4.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
3     47.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
4     13.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
7695   1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
7696  26.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  8.63
7697  64.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  2.03   NaN
7698   2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
7699   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN

       151   152   153  154   155   156   157   158
0      NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
3     5.61 -4.51  0.00  0.0   NaN  0.00  5.93  4.19
4      NaN   NaN   NaN  0.0   NaN   NaN   NaN  0.00
...    ...   ...   ...  ...   ...   ...   ...   ...
7695   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7696   NaN  6.76  0.00  3.5  6.26   NaN -2.66  0.65
7697  2.05  2.05  0.73  0.0  2.97  0.57  0.00  0.00
7698   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
7699   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN

[7700 rows x 159 columns]

In [32]:
## Count the # of ratings for each jokes
rcj_comb = df_comb.count()
rcj_comb = pd.DataFrame(rcj_comb)
pd.set_option('display.max_rows', rcj_comb.shape[0]+1)

rcj_comb

        0
0    7692
1       0
2       0
3       0
4       0
5       0
6       0
7     274
8     484
9       0
10      0
11      0
12      0
13    449
14      0
15    333
16    298
17    309
18    590
19   7536
20      0
21    898
22    370
23    324
24    177
25    371
26    593
27      0
28    565
29    878
30    274
31      0
32   1535
33    207
34    256
35   4032
36   1880
37    224
38    485
39    278
40    258
41    221
42    287
43      0
44    176
45    259
46    297
47    452
48    364
49    786
50   2375
51      0
52      0
53   1891
54    640
55    268
56    900
57    208
58    180
59    390
60    364
61      0
62   1154
63    713
64    183
65    686
66   1071
67    219
68   1355
69    775
70    276
71    343
72   6474
73      0
74    202
75    192
76    395
77    240
78    489
79    205
80      0
81    496
82    360
83    511
84    467
85    209
86    419
87    631
88    763
89   1651
90    307
91    523
92    387
93    428
94    558
95    383
96    716
97    624
98    453
99    310
100     0
101   210
102   365
103   274
104  1635
105  4750
106  1052
107  2357
108   687
109   332
110   381
111   421
112   834
113   244
114  1163
115   250
116     0
117   708
118   458
119  1634
120   266
121   949
122   401
123   214
124   182
125   943
126  1023
127  2997
128   714
129  1527
130   295
131   268
132  1409
133   246
134   548
135   520
136   223
137   280
138  1375
139   267
140   276
141   168
142   398
143   371
144   406
145   533
146   211
147   291
148   483
149   658
150   538
151  1337
152  1296
153  1318
154  1341
155  1328
156  1320
157  1353
158  1357

### 4. Export Trimmed data

In [189]:
df_comb.to_csv('Trimmed Jester Data.csv')

### 5. Summarize Our Findings

- For every joke, the highest rating and lowest rating are all -10 and +10. That means that people's preference has huge difference. Even for the same joke, some people think it is super funny, some think it is super boring.

- The average rating for all jokes range from -3 to +3. 60% are positive and 40% are negative. The standard deviations of ratings are from 4 to 6. Generally speaking, for the same joke, people do not have precisely similar opinion towards a joke. There is no king of the jokes.

### END